
###> symfony/framework-bundle ###
.idea
/.env.local
/.env.local.php
/.env.*.local
/server/config/secrets/prod/prod.decrypt.private.php
/server/public/bundles/
/server/var/
/server/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/server/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
